<div class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
    <div class="row w-50 p2">
        
        <div class="col-md-6"><img src="assets/images/logo.svg" alt="logo" class="logo"></div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-primary btn-sm text-uppercase mb-2">Distributor</button>
            <button class="btn btn-primary btn-sm text-uppercase mb-2">Customer</button>
            <button class="btn btn-primary btn-sm text-uppercase">Manufacturer</button>
        </div>
    </div>


</div>